/* Set base font size for the document */
:root {
  font-size: 10px;
}

/* Apply box-sizing: border-box to all elements for consistent sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set basic body styling */
body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh; /* Ensure content fills viewport height */
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem; 
}

/* Constrain layout width */
.ig-layout {
  max-width: 935px;
  margin: 0 auto;
}

/* Set consistent image display */
img {
  display: block;
  position: relative;
  top: 0px;
}


/* Position and style the main content container */
.main {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

/* Wrap content within the container */
.container {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  display: block;
}


/* User profile styling with flexbox for layout, 
positioning, and alignment, and defines specific 
dimensions and visual properties. */
.profile {
	display: flex;
	position: relative;
	align-items: stretch;
	flex-direction: row;
	line-height: 18px;
	margin-bottom: 44px;
	gap: 30px;
}

.profile-image-box {
	display: grid;
	width: 31.194%;
  place-content: center;
}

.profile-image {
	display: flex;
	position: relative;
	top: 5px;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(240, 240, 240);
	min-width: 168px;
	max-width: 168px;
	min-height: 168px;
	max-height: 168px;
	border-radius: 50%;
	overflow: hidden;
	transition: all .3s;
}

/* @nedia for responsive */
@media (min-width: 736px){
	.profile-image {
		flex-grow: 1;
		flex-basis: 0;
	}
}

.profile-image img {
	display: block;
	position: relative;
	width: 125px;
	height: 125px;
	align-items: center;
	align-self: center;
	flex: none;
	justify-content: center;
	top: -18px;
}

/* Enlarge an image on hover */
.profile-image:hover img {
	animation: growProfileImage .3s 1;
}

.profile-edit {
	display: grid;
	position: absolute;
	bottom: 10%;
	left: calc(21% + 10px);
	width: 25px;
	height: 25px;
	color:#FFF;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	place-content: center;
}

.profile-edit i {
	font-size: 12px;
}

.profile-edit:hover{
	transform:scale(1.3); /* Enlarge the profile image edit by 30% */
}

.profile-edit:focus{
	background-color: rgba(0, 0, 0, .3);
	transform:scale(1.3);
}

.profile-edit:active{
	animation: touchProfileEdit .3s 1;
}

/* Styling for profile user information container */
.profile-user-info {
	display: flex;
	position: relative;
	flex-grow: 2; /* Allows the container to grow to fill available space */
	color: black;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
	gap: 20px;
	border-width: 0;
	flex-shrink: 1; /* Allows the container to shrink if needed */
  flex-direction: column; /* Arrange elements in a vertical column */
	align-items: stretch;
	box-sizing: border-box;
}

.profile-user-settings {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: row;
	flex-shrink: 1;
}

.profile-user-name {
	position: relative;
	font-size: 20px;
	font-weight: 400;
	word-wrap: break-word;
	line-height: 25px;
	box-sizing: border-box;
}

.profile-user-verification{
	display: flex;
	position: relative;
	margin-top: 0px;
	margin-left: 8px;
	flex-grow: 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	box-sizing: border-box;
	overflow: visible;
}

.verified-image {
	display: block;
	position: relative;
}

.profile-btns {
	margin-left: 20px;
}

.profile-btns button + button {
	margin-left: 8px;
}

/* General button styles */
button {
	position: relative;
	color: white;
	min-width: 32px;
	height: 32px;
	color: #fff !important; /* Override any other color settings */
	font-size: 14px;
	font-weight: 600;
	text-align: center;
  border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all .3s; /* Smooth transitions for hover effects */
}

button.profile-edit-btn {
	padding: 7px 16px!important;
	background-color: rgb(0, 149, 246) !important;
}
.profile-edit-btn:hover {
	background-color: rgb(24, 119, 242) !important;
}

button.profile-settings-btn {
	background-color: rgb(239, 239, 239) !important;
	color: rgb(0, 0, 0) !important;
}
.profile-settings-btn:hover {
	background-color: rgb(219, 219, 219) !important;;
}

/* Animation for settings button icon on hover */
.profile-settings-btn:hover i {
	animation: spinSettingsBtn .3s 1;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.profile-stats ul li {
	font-size: 16px;
	margin-right: 40px;
	display: list-item;
  text-align: -webkit-match-parent;
}

.profile-stat-count {
	font-weight: 600;
}

.profile-bio {
	display: flex;
	position: relative;
	align-items: start;
	flex-direction: column;
	vertical-align: baseline;
	box-sizing: border-box;
}

.profile-bio p,
.profile-bio p span {
	font-size: 14px;
}

.profile-real-name {
	display: block;
	font-weight: 600;
	line-height: 18px;
	word-wrap: break-word;
	white-space: pre-line;
}

/* Styling the gallery navigation bar */
.gallery-nav {
	display: flex;
	position: relative;
	height: 52px;
	font-size: .75rem;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-top: 1px solid rgb(142, 142, 142);
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.gallery-nav a {
	display: flex !important;
	position: relative;
	height: 52px;
  color: rgba(0, 0, 0, .7); 
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: transparent;
	border-top: 1px solid transparent;
	margin-top: -1px!important;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-transform: uppercase;
	cursor: pointer;
	gap: 6px;
	transition: all .3s;
}

a, a:visited, .gallery-tab.active {
	text-decoration: none;
}

a.gallery-tab.active {
	color: black;
	border-top: 1px solid black !important;
	transition: border-top-color 0.4s linear; /* smoother animation */
	animation: growTabBorder .3s; //* Animating the tab */
}

svg.tab-icon {
	width: 12px;
  height: 12px;
}

.gallery {
	display: grid;
	position: relative;
	grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
	grid-auto-rows: 294px;
	justify-content: center;
	gap: 15px;
	transition: all .3s;
}

/* Image adjustments based on JavaScript logic */
.gallery:nth-child(0) img,
.gallery:nth-child(1) img,
.gallery:nth-child(5) img,
.gallery:nth-child(7) img {
 transform: scale(1.1) translateY(15%);
}

.gallery:nth-child(8) img,
.gallery:nth-child(10) img,
.gallery:nth-child(11) img,
.gallery:nth-child(12) img {
 transform: translateY(0%);
}

.gallery:nth-child(3) img,
.gallery:nth-child(5) img,
.gallery:nth-child(10) img {
 transform: scale(1.5);
}

.gallery-item {
	display: flex;
	place-items: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.gallery-item:hover {
	transform: scale(1.05);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.gallery-item:hover .gallery-item-info {
	opacity: 1;
}

.gallery-item-type{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100%;
	margin: 8px;
	z-index: 2;
}

.gallery-item-type i.fa-clone{
	transform: rotate(180deg);
}

.gallery-item-type i:before {
	display: block;
	position: relative;
	width: 22px;
	height: 22px;
	font-size: 21px;
}

.gallery-item-info{
	display: grid;
	position: absolute;
	width: 100%;
	height: 100%;
	place-content: center;
	background-color: rgba(0, 0, 0, .3);
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

.gallery-item-info ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 15px;
	justify-content: center;
	position: relative;
}

.visually-hidden {
	display: none;
	opacity: 0;
}

.gallery-item-info li{
	display: inline-flex;
	position: relative;
	top: 0;
	height: 19px;
	min-width: 50px;
	color: #FFF;
	font: inherit;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	margin-right: 7px;
	margin-top: 2px;
	padding: 0;
	line-height: 20px;
	vertical-align: baseline;
	border: 0;
	cursor: pointer;
	z-index: 4;
}
    
.gallery-item-info li i{
	width: 19px;
	margin-right: 7px;
}

.top-space {
	top: 100px;
}

.view-box {
	display: none;
	position: unset;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
	z-index: 5;
	overflow: hidden;
	box-sizing: border-box;
}

.view-box.view {
	display: block;
	position: fixed;
}

.view-image {
	display: flex;
	position: relative;
	width: auto;
	height: 100%;
	margin: 0 auto;
	place-content: center;
}

.view-image picture {
	height: 100%;
    display: block;
    position: relative;
		overflow: hidden overlay;
    text-align: center;
    padding: 0 10%;
    width: 100%;
}
.view-image picture img {
	cursor: pointer;
	margin: auto;
}

.cancel-preview,
.cancel-preview span {
	display: block;
	width: 25px;
	height: 25px;
}

.cancel-preview{
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(180, 180, 180);
	background-color: rgba(0,0,0,.8);
	z-index: 10;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	line-height: 1.1;
	transition: all .3s;
}
.cancel-preview:hover {
	transform: rotate(360deg);
	color: white;
	background-color: black;
}

.preview-nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 1;
}

.preview-nav .preview-nav-item {
	display: flex;
	position: fixed;
	top: calc(50% - 75px);
	width: 75px;
	height: 150px;
	font-size: 50px;
	color: rgb(180, 180, 180);
	background-color: rgba(0,0,0,.8);
	border-radius: 8px;
	place-content: center;
  place-items: center;
	cursor: pointer;
}

.preview-nav .preview-nav-item:hover > i {
	color: #FFF;
}

.preview-nav .preview-nav-item.previous {
	left: 15px;
}
.preview-nav .preview-nav-item.next {
	right: 15px;
}

/* Zoom Icon Styling */
.preview-zoom {
	display: grid;
	position: fixed;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: rgb(180, 180, 180);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	cursor: pointer;
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	place-content: center;
	transition: all .3s;
}

.preview-zoom:hover {
	color: #FFF;
}

/* Hide Scrollbar on image preview */
.no-scroll {
	overflow: hidden;
}

/* Base styles for the loader element */
.loader {
  display: block;
  position: relative;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #000;
  width: 80px;
  height: 80px;
  margin: 10rem auto;
  transition: all; /* Prepare for smooth animation transitions */
  bottom: 0;
}

/* Styles for the loading state */
.loader.loading {
  /* Apply the loading animation */
  animation: loading 2s linear infinite;
}



/* Animations for different elements */

/* GrowProfileImage Animation */
@keyframes growProfileImage {
  /* Start with scale 0 (invisible) */
  0% {
    transform: scale(0);
  }
  /* Expand to 1.2 times size at 50% */
  50% {
    transform: scale(1.2);
  }
  /* Revert to normal size at 100% */
  100% {
    transform: scale(1);
  }
}

/* TouchProfileEdit Animation */
@keyframes touchProfileEdit {
  /* End state: double size and fade out */
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/* SpinSettingsBtn Animation */
@keyframes spinSettingsBtn {
  /* Start with 0 degree rotation */
  from {
    transform: rotate(0deg);
  }
  /* End with 360 degree rotation */
  to {
    transform: rotate(360deg);
  }
}

/* GrowTabBorder Animation */
@keyframes growTabBorder {
  /* Start with invisible border */
  0% {
    border-top: 0px solid transparent!important;
  }
  /* Grow to 0.5px border at 50% */
  50% {
    border-top: .5px solid black !important;
  }
  /* End with 1px border */
  100% {
    border-top: 1px solid black !important;
  }
}

/* Loading Animation (likely for a spinner) */
@keyframes loading {
  /* Rotate from 0 to 360 degrees */
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
